Phase two/Node Red flow/flows.json
[
    {
        "id": "1ff56c75406eb036",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "91e1a275022e1247",
        "type": "mqtt in",
        "z": "1ff56c75406eb036",
        "name": "",
        "topic": "Dulan Admin LDR-1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e62ddddd12a2dc7c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "52bb269610e61dac",
                "ca8ca0a972a476db"
            ]
        ]
    },
    {
        "id": "4785eb37382f793c",
        "type": "mqtt in",
        "z": "1ff56c75406eb036",
        "name": "",
        "topic": "Dulan Admin LDR-2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e62ddddd12a2dc7c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 300,
        "wires": [
            [
                "b62a270fc4bd226a"
            ]
        ]
    },
    {
        "id": "52bb269610e61dac",
        "type": "change",
        "z": "1ff56c75406eb036",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LDR1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 180,
        "wires": [
            [
                "43e6346e2c2504fc"
            ]
        ]
    },
    {
        "id": "b62a270fc4bd226a",
        "type": "change",
        "z": "1ff56c75406eb036",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LDR2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 280,
        "wires": [
            [
                "43e6346e2c2504fc"
            ]
        ]
    },
    {
        "id": "43e6346e2c2504fc",
        "type": "function",
        "z": "1ff56c75406eb036",
        "name": "Max intensity LDR",
        "func": "let LDR1 = global.get(\"LDR1\");\nlet LDR2 = global.get(\"LDR2\");\n\nLDR1 = (4063 - 36) - LDR1;\nLDR2 = (4063-36) - LDR2;\n\nif (LDR1 > LDR2) {\n    global.set(\"direction\",\"Left_LDR\");\n    return {\n        payload: LDR1\n    }\n}\nelse {\n    global.set(\"direction\",\"Right_LDR\");\n    return {\n        payload: LDR2\n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 240,
        "wires": [
            [
                "0351a0653f4ecf54",
                "cd94113e8a31e67d"
            ]
        ]
    },
    {
        "id": "234eb6493e70041b",
        "type": "ui_gauge",
        "z": "1ff56c75406eb036",
        "name": "",
        "group": "73b76909326ac91e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light Intensity [0 to 1]",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1180,
        "y": 240,
        "wires": []
    },
    {
        "id": "ca8ca0a972a476db",
        "type": "debug",
        "z": "1ff56c75406eb036",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 100,
        "wires": []
    },
    {
        "id": "0351a0653f4ecf54",
        "type": "range",
        "z": "1ff56c75406eb036",
        "minin": "0",
        "maxin": "4027",
        "minout": "0",
        "maxout": "1",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 790,
        "y": 240,
        "wires": [
            [
                "f7ac0a3516bc9b11"
            ]
        ]
    },
    {
        "id": "f7ac0a3516bc9b11",
        "type": "function",
        "z": "1ff56c75406eb036",
        "name": "roundOff",
        "func": "let newlIntensity = msg.payload\nglobal.set(\"intensity\", newlIntensity.toFixed(3))\nreturn{\n    payload:newlIntensity.toFixed(3)\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 240,
        "wires": [
            [
                "234eb6493e70041b",
                "6db8c8718b9c6d1e"
            ]
        ]
    },
    {
        "id": "fdb975d9c4ce3a60",
        "type": "ui_text",
        "z": "1ff56c75406eb036",
        "group": "73b76909326ac91e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max light intensity :",
        "format": "{{payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1110,
        "y": 340,
        "wires": []
    },
    {
        "id": "cd94113e8a31e67d",
        "type": "function",
        "z": "1ff56c75406eb036",
        "name": "function 13",
        "func": "let direction = global.get(\"direction\");\nreturn {payload: direction}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 340,
        "wires": [
            [
                "fdb975d9c4ce3a60"
            ]
        ]
    },
    {
        "id": "6db8c8718b9c6d1e",
        "type": "ui_chart",
        "z": "1ff56c75406eb036",
        "name": "",
        "group": "73b76909326ac91e",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Variation of Light Intensity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f33979d6aab82a33",
        "type": "ui_slider",
        "z": "1ff56c75406eb036",
        "name": "",
        "label": "Minimum angle",
        "tooltip": "",
        "group": "d695453c3e61b30e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 1020,
        "y": 660,
        "wires": [
            [
                "32267377a5492a31",
                "a4300833b98fda46"
            ]
        ]
    },
    {
        "id": "08eb285b01ca0bcf",
        "type": "ui_slider",
        "z": "1ff56c75406eb036",
        "name": "",
        "label": "Controlling Factor",
        "tooltip": "",
        "group": "d695453c3e61b30e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 1030,
        "y": 820,
        "wires": [
            [
                "d39e7bc3ea13694a",
                "d10a85ec4a981a2a"
            ]
        ]
    },
    {
        "id": "32267377a5492a31",
        "type": "ui_gauge",
        "z": "1ff56c75406eb036",
        "name": "",
        "group": "d695453c3e61b30e",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "compass",
        "title": "Minimum Angle",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1280,
        "y": 680,
        "wires": []
    },
    {
        "id": "d39e7bc3ea13694a",
        "type": "ui_gauge",
        "z": "1ff56c75406eb036",
        "name": "",
        "group": "d695453c3e61b30e",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "compass",
        "title": "Controlling Factor",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1290,
        "y": 780,
        "wires": []
    },
    {
        "id": "a4300833b98fda46",
        "type": "mqtt out",
        "z": "1ff56c75406eb036",
        "name": "",
        "topic": "MIN-ANGLE",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d043b2b75ce06566",
        "x": 1270,
        "y": 640,
        "wires": []
    },
    {
        "id": "d10a85ec4a981a2a",
        "type": "mqtt out",
        "z": "1ff56c75406eb036",
        "name": "",
        "topic": "CONTROL-FAC",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d043b2b75ce06566",
        "x": 1280,
        "y": 820,
        "wires": []
    },
    {
        "id": "52e0962090546760",
        "type": "ui_dropdown",
        "z": "1ff56c75406eb036",
        "name": "",
        "label": "Select Medicine",
        "tooltip": "",
        "place": "Select option",
        "group": "eee1ba59cfe485fe",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Medicine A",
                "value": "A",
                "type": "str"
            },
            {
                "label": "Medicine B",
                "value": "B",
                "type": "str"
            },
            {
                "label": "Medicine C",
                "value": "C",
                "type": "str"
            },
            {
                "label": "Custom",
                "value": "custom",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 160,
        "y": 720,
        "wires": [
            [
                "767c3a9eca82b218"
            ]
        ]
    },
    {
        "id": "3d8855e90c171ab6",
        "type": "function",
        "z": "1ff56c75406eb036",
        "name": "Medicine A ",
        "func": "global.set(\"angle\",45)\nglobal.set(\"controller\",0.5)\nreturn{\n    payload:\"Medicine Selected Sucessfully\"\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 680,
        "wires": [
            [
                "bb7f6eab2b5434ab",
                "aa10ef0e28873277",
                "cf76010c91fb435f"
            ]
        ]
    },
    {
        "id": "544a99091fa1c34b",
        "type": "function",
        "z": "1ff56c75406eb036",
        "name": "Medicine B",
        "func": "global.set(\"angle\",60)\nglobal.set(\"controller\",0.7)\nreturn {\n    payload:\"Medicine Selected Successfully\"\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 720,
        "wires": [
            [
                "bb7f6eab2b5434ab",
                "aa10ef0e28873277",
                "cf76010c91fb435f"
            ]
        ]
    },
    {
        "id": "4dc775647f4348c5",
        "type": "function",
        "z": "1ff56c75406eb036",
        "name": "Medicine C",
        "func": "global.set(\"angle\",120)\nglobal.set(\"controller\",0.8)\nreturn {\n    payload:\"Medicine Selected Successfully\"\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 760,
        "wires": [
            [
                "bb7f6eab2b5434ab",
                "aa10ef0e28873277",
                "cf76010c91fb435f"
            ]
        ]
    },
    {
        "id": "767c3a9eca82b218",
        "type": "switch",
        "z": "1ff56c75406eb036",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "A",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "B",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "C",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "custom",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 350,
        "y": 720,
        "wires": [
            [
                "3d8855e90c171ab6"
            ],
            [
                "544a99091fa1c34b"
            ],
            [
                "4dc775647f4348c5"
            ],
            [
                "40f95ab1c466d56a"
            ]
        ]
    },
    {
        "id": "bb7f6eab2b5434ab",
        "type": "ui_toast",
        "z": "1ff56c75406eb036",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Notification",
        "x": 810,
        "y": 740,
        "wires": []
    },
    {
        "id": "aa10ef0e28873277",
        "type": "function",
        "z": "1ff56c75406eb036",
        "name": "Get angle",
        "func": "let p = global.get(\"angle\")\nreturn {\n    payload:p\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 660,
        "wires": [
            [
                "f33979d6aab82a33"
            ]
        ]
    },
    {
        "id": "cf76010c91fb435f",
        "type": "function",
        "z": "1ff56c75406eb036",
        "name": "Get controller",
        "func": "\nreturn {\n    payload:global.get(\"controller\")\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 820,
        "wires": [
            [
                "08eb285b01ca0bcf"
            ]
        ]
    },
    {
        "id": "686b0a4b28817c80",
        "type": "mqtt in",
        "z": "1ff56c75406eb036",
        "name": "",
        "topic": "Dulan Admin Temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e62ddddd12a2dc7c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "ff9177e673a4551b",
                "d1d7f33298e234d1"
            ]
        ]
    },
    {
        "id": "ff9177e673a4551b",
        "type": "ui_gauge",
        "z": "1ff56c75406eb036",
        "name": "",
        "group": "bbe8ba35c1e4b4a3",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Room Temperature ( â°C )",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 420,
        "wires": []
    },
    {
        "id": "d1d7f33298e234d1",
        "type": "ui_chart",
        "z": "1ff56c75406eb036",
        "name": "",
        "group": "bbe8ba35c1e4b4a3",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Variaion of Room Temperature ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "635ace3d9ed77d94",
        "type": "ui_switch",
        "z": "1ff56c75406eb036",
        "name": "Main Switch",
        "label": "Main Switch",
        "tooltip": "",
        "group": "b147f1aa61ec57cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 940,
        "wires": [
            [
                "927f044d40afac67"
            ]
        ]
    },
    {
        "id": "927f044d40afac67",
        "type": "mqtt out",
        "z": "1ff56c75406eb036",
        "name": "",
        "topic": "ADMIN-MAIN-ON-OFF",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e62ddddd12a2dc7c",
        "x": 620,
        "y": 940,
        "wires": []
    },
    {
        "id": "59bf53290a04631f",
        "type": "ui_switch",
        "z": "1ff56c75406eb036",
        "name": "Schedule Switch",
        "label": "Schedule switch",
        "tooltip": "",
        "group": "b147f1aa61ec57cc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 1080,
        "wires": [
            [
                "4a645d8a8cbab80f"
            ]
        ]
    },
    {
        "id": "4a645d8a8cbab80f",
        "type": "change",
        "z": "1ff56c75406eb036",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "isScheduled",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 1080,
        "wires": [
            [
                "35cc6cc4644ac724"
            ]
        ]
    },
    {
        "id": "076164c1158a9c96",
        "type": "ui_date_picker",
        "z": "1ff56c75406eb036",
        "name": "",
        "label": "ON",
        "group": "b147f1aa61ec57cc",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 130,
        "y": 1160,
        "wires": [
            [
                "7f5efb4cc6348333"
            ]
        ]
    },
    {
        "id": "6692cb83ca4f961c",
        "type": "ui_text_input",
        "z": "1ff56c75406eb036",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "b147f1aa61ec57cc",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 1220,
        "wires": [
            [
                "e069b60284811ab5"
            ]
        ]
    },
    {
        "id": "7f5efb4cc6348333",
        "type": "change",
        "z": "1ff56c75406eb036",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduleDate",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1160,
        "wires": [
            [
                "35cc6cc4644ac724"
            ]
        ]
    },
    {
        "id": "e069b60284811ab5",
        "type": "change",
        "z": "1ff56c75406eb036",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduleTime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1220,
        "wires": [
            [
                "35cc6cc4644ac724"
            ]
        ]
    },
    {
        "id": "35cc6cc4644ac724",
        "type": "function",
        "z": "1ff56c75406eb036",
        "name": "function 14",
        "func": "let isScheduled = global.get(\"isScheduled\");\nlet scheduleDate = global.get(\"scheduleDate\");\nlet scheduleTime = global.get(\"scheduleTime\");\n\nif (isScheduled && scheduleDate && scheduleTime){\n    let schedule = scheduleDate+scheduleTime\n\n    if (Date.now()>schedule){\n        return {\n            payload:\"OLDER\"\n        }\n    }else{\n        return {\n            payload:schedule\n        }\n    }\n\n} else if (isScheduled===false){\n    return {\n        payload:\"NOT-SCHEDULED-ON\"\n    }\n}else{\n    return {\n        payload:null\n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1120,
        "wires": [
            [
                "09bab1cfe40c1b6b"
            ]
        ]
    },
    {
        "id": "09bab1cfe40c1b6b",
        "type": "switch",
        "z": "1ff56c75406eb036",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NOT-SCHEDULED-ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OLDER",
                "vt": "str"
            },
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 830,
        "y": 1120,
        "wires": [
            [
                "c8bf1a893b8da44b"
            ],
            [
                "44d3b185011fad34"
            ],
            [
                "73500716e33ed757"
            ],
            [
                "c9edab58df352dc6"
            ]
        ]
    },
    {
        "id": "6e1921c4f46f1127",
        "type": "debug",
        "z": "1ff56c75406eb036",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1120,
        "wires": []
    },
    {
        "id": "c8bf1a893b8da44b",
        "type": "function",
        "z": "1ff56c75406eb036",
        "name": "function 15",
        "func": "return {\n    payload:\"NOT\"\n    }",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1060,
        "wires": [
            [
                "6e1921c4f46f1127",
                "e9de18c79d8575c7"
            ]
        ]
    },
    {
        "id": "73500716e33ed757",
        "type": "function",
        "z": "1ff56c75406eb036",
        "name": "function 16",
        "func": "return {\n    payload:Math.round(msg.payload/1000)\n    }",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1100,
        "wires": [
            [
                "6e1921c4f46f1127",
                "e9de18c79d8575c7"
            ]
        ]
    },
    {
        "id": "44d3b185011fad34",
        "type": "function",
        "z": "1ff56c75406eb036",
        "name": "function 17",
        "func": "return {\n    payload:\"Please enter a future time\"\n    }",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1140,
        "wires": [
            [
                "c23cc38720c84406"
            ]
        ]
    },
    {
        "id": "c9edab58df352dc6",
        "type": "function",
        "z": "1ff56c75406eb036",
        "name": "function 18",
        "func": "return {\n    payload:\"Please Enter a valid date and time\"\n    }",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1180,
        "wires": [
            [
                "c23cc38720c84406"
            ]
        ]
    },
    {
        "id": "c23cc38720c84406",
        "type": "ui_toast",
        "z": "1ff56c75406eb036",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1270,
        "y": 1180,
        "wires": []
    },
    {
        "id": "e9de18c79d8575c7",
        "type": "mqtt out",
        "z": "1ff56c75406eb036",
        "name": "",
        "topic": "ADMIN-SCH-ON",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e62ddddd12a2dc7c",
        "x": 1310,
        "y": 1040,
        "wires": []
    },
    {
        "id": "4c117361ef606254",
        "type": "mqtt in",
        "z": "1ff56c75406eb036",
        "name": "ESP-ON-OFF",
        "topic": "ADMIN-MAIN-ON-OFF-ESP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e62ddddd12a2dc7c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 920,
        "wires": [
            [
                "635ace3d9ed77d94"
            ]
        ]
    },
    {
        "id": "d33d105927387a3d",
        "type": "mqtt in",
        "z": "1ff56c75406eb036",
        "name": "SCH-ESP-ON",
        "topic": "ADMIN-SCH-ESP-ON",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e62ddddd12a2dc7c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 1000,
        "wires": [
            [
                "bb1de71077a670c9"
            ]
        ]
    },
    {
        "id": "bb1de71077a670c9",
        "type": "function",
        "z": "1ff56c75406eb036",
        "name": "function 19",
        "func": "\nreturn {\n    payload:msg.payload == 1 \n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1000,
        "wires": [
            [
                "59bf53290a04631f"
            ]
        ]
    },
    {
        "id": "40f95ab1c466d56a",
        "type": "function",
        "z": "1ff56c75406eb036",
        "name": "Custom",
        "func": "global.set(\"angle\",30)\nglobal.set(\"controller\",0.75)\nreturn {\n    payload:\"Set to default values\"\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 800,
        "wires": [
            [
                "aa10ef0e28873277",
                "bb7f6eab2b5434ab",
                "cf76010c91fb435f"
            ]
        ]
    },
    {
        "id": "a636795a9bb915e7",
        "type": "ui_spacer",
        "z": "1ff56c75406eb036",
        "name": "spacer",
        "group": "b147f1aa61ec57cc",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "3712d524835078bc",
        "type": "ui_spacer",
        "z": "1ff56c75406eb036",
        "name": "spacer",
        "group": "b147f1aa61ec57cc",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "e62ddddd12a2dc7c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "73b76909326ac91e",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "8667b8656f0aa4c1",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d695453c3e61b30e",
        "type": "ui_group",
        "name": "Shade Controller",
        "tab": "8667b8656f0aa4c1",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d043b2b75ce06566",
        "type": "mqtt-broker",
        "name": "",
        "broker": "https://test.mosquitto.org/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "eee1ba59cfe485fe",
        "type": "ui_group",
        "name": "Medicine Selector",
        "tab": "8667b8656f0aa4c1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bbe8ba35c1e4b4a3",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "8667b8656f0aa4c1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b147f1aa61ec57cc",
        "type": "ui_group",
        "name": "Schedule Alarm",
        "tab": "8667b8656f0aa4c1",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8667b8656f0aa4c1",
        "type": "ui_tab",
        "name": "210066T_Medibox",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]